/*
*# css
*
*## color reference
*
*### byword dark
* #181818 background
* #b6b6b6 text
*
*### wombat 256 vim
* #212121 background
* #2a2a2a new file background
* #8e8b80 comment
* #c3e277 yellow or green vars & functions
* #8ae04a bright green in quotes
* #7fbfe4 blue command
* #f5f1e5 white command
* #d66c62 red command
*
*### other
* #2d70bd darker blue ganked from wombat
*
*/

/* body & general */
body {
	/*background: #fff;*/
	color: #333;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 12.5pt;
	/*width: 720pt;*/
	/*width: 640pt;*/
	/*width: 660pt;*/
	/*width: 540pt;*/
	max-width: 540pt;
	padding: 12pt;
	margin: 1% auto;
}

/*phone css*/
@media only screen
and (min-device-width : 320px)
and (max-device-width: 568px) {
body { 
	font-size: 18pt;
	max-width: 320px;
}}

blockquote {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 50px;
	padding-left: 15px;
	border-left: 3px solid #ccc;
}

/* links */
a:link    { color: #5d5d5d; text-decoration: none; }
a:hover   { color: #5d5d5d; text-decoration: underline; }
a:visited { color: #5d5d5d; }

/* menu settings */
#menu ul {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	padding-left: 0;
	margin-left: 0;
	background-color: #6D6E71;
	color: #F5F4F6;
	float: left;
	width: 100%;
	border: thin solid #6D6E71;
	border-radius: 4pt;
}

#menu ul li { display: inline; }

#menu ul li a {
	padding: 2.4pt 12pt;
	background-color: #6D6E71;
	color: white;
	font-size: 14pt;
	text-decoration: none;
	float: left;
	border: thin solid #6D6E71;
	border-radius: 4pt;
}

#menu ul li a:hover {
	background-color: #2d70bd;
	color: #fff;
}

/* headings & titles */
#site_title h1 {
	display: inline;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 28.5pt;
	font-weight: normal;
	margin-bottom: 0;
	margin-top: 0;
}
#site_title h1 a {
	color: #333;
	text-decoration: none;
}

#page_title h1 {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 24pt;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

#article_title {
	/*color: #FF5721;*/
	/*color: #F87531;*/
	font-size: 22pt;
}

#category_title {
	margin-bottom: 10pt;
}

#first_article h2 {
	font-size: 20pt;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.more_articles h1 {
	font-size: 24pt;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 0;
}
.more_articles h2 {
	font-size: 20pt;
	font-weight: normal;
	margin-top: 10pt;
	margin-bottom: 0;
}

/* comments & meta data */
.comments {
	font-weight: bold;
	text-align: center;
}

.index_meta {
	font-size: 11pt;
	padding: 4pt;
}

.readmore a {
	background-color: #6D6E71;
	color: white;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 10.5pt;
	text-decoration: none;
	border: thin solid #6D6E71;
	border-radius: 3pt;
	padding: 0.5pt 4pt;
}

.readmore a:hover {
	background-color: #2d70bd;
	border-color: #2d70bd;
}

/* page layout */

/*#main { display: table-cell; }*/
/*#sidebar, #main { display: table-cell; }*/
/*#sidebar { */
	/*total sidebar 225pt*/
	/*float: right;*/
	/*width: 120pt;*/
	/*padding-left: 30pt;*/
	/*padding-right: 5pt;*/
	/*padding-top: 5pt;*/

/*}*/
#main {
	/*total main 495pt*/
	/*width: 495pt;*/
	padding-left: 5pt;
	padding-right: 5pt;
}
#main img {
	/*max-width: 484pt;*/
	/*max-width: 493pt;*/
}

.article_content h2 { 
	font-size: 15pt; 
	margin-top: 18pt;
	margin-bottom: 4pt;
}
.article_content h3 { font-size: 14pt; }
.article_content h4 { font-size: 13.5pt; }
.article_content h5, h6 { font-size: 13pt; }
.article_content p, ul {
	margin-top: 12pt;
	margin-bottom: 12pt;
}

.page_content h2 {
	font-size: 20pt;
	font-weight: normal;
	margin-top: 18pt;
	margin-bottom: 4pt;
}
.page_content p, ul {
	margin-top: 12pt;
	margin-bottom: 12pt;
}
.page_content img {
	vertical-align: middle;
}

.paginator {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 10.5pt;
}
.paginator a {
	text-decoration: none;
	border: thin solid #6D6E71;
	border-radius: 3pt;
	padding: 0.5pt 4pt;
}
.paginator a:hover {
	color: white;
	background-color: #2d70bd;
	border-color: #2d70bd;
}

/* side bar tweaks */
#sidebar h2 { 
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: normal; 
	margin-bottom: 2pt;
	margin-top: 0;
}
#sidebar a {
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 12pt;
}
#tags a {
	display: inline;
	float: left;
	background-color: #6D6E71;
	color: white;
	font-family: Helvetica Neue, Helvetica, sans-serif;
	font-size: 10.5pt;
	text-decoration: none;
	border: thin solid #6D6E71;
	border-radius: 3pt;
	padding: 0.5pt 4pt;
	margin: 1.5pt 2pt;
}
#tags a:hover {
	background-color: #2d70bd;
	border-color: #2d70bd;
}

/* footer section */
#footer {
	text-align: center;
}

/* special classes */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.alignleft_img {
	float: left;
	margin-right: 16pt;
}
.alignright_img {
	float: right;
	margin-left: 16pt;
}
.clear {
	clear: both;
}

/* code hilighting */
@import url("pygment.css");

/*.codehilite {*/
.highlight {
	max-width: 483pt;
	padding: 1pt 10pt;
	/*font-family: Menlo, monospace; font-size: 85%; background: #242424; color: #f6f3e8; background-color: #242424;*/
	font-family: Menlo, monospace; font-size: 85%; background: #242424; color: #f6f3e8;
}

code {
	font-family: Menlo, monospace; font-size: 85%;
}

/* social icons */
.social a[href^='mailto'] {background-image: url('../images/icons/email.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('../images/icons/rss.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='app.net'] {background-image: url('../images/icons/appnet.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='twitter.com'] {background-image: url('../images/icons/twitter.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='facebook.com'] {background-image: url('../images/icons/facebook.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='linkedin.com'] {background-image: url('../images/icons/linkedin.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='bitbucket.org'] {background-image: url('../images/icons/bitbucket.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='gitorious.org'] {background-image: url('../images/icons/gitorious.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='github.com'] {background-image: url('../images/icons/gitorious.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='pinboard.in'] {background-image: url('../images/icons/pinboard.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='delicious.com'] {background-image: url('../images/icons/delicious.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('../images/icons/lastfm.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
.social a[href*='digg.com'] {background-image: url('../images/icons/digg.png'); background-repeat: no-repeat; background-position: left center; padding-left: 15pt;}
