body {
    font-family: helvetica neue, sans-serif;
    font-size: 16px;
    background: #fdfdfd;
    color: #4c4c4c;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    color: #2d70bd;
}

ul {
    padding: 0px 20px;
    margin-top: 5px;
    margin-bottom: 38px;
}

img {
    max-width: 99%;
}

#wrapper {
    width: 835px;
    margin: 0 auto;
    /*border: solid 2px;*/
}

#header {
    height: 160px;
    /* top | right | bottom | left */
    margin: 10px 30px 0px 30px;
}

#header_text {
    float: left;
    color: #333;
    margin-top: 25px;
}

#subheader_text {
    color: #666;
    float: right;
    margin-top: 30px;
    line-height: 20px;
}

#subheader_text i {
    color: #333;
    width: 20px;
    text-align: center;
}

#subheader_text a {
    color: #666;
    text-decoration: none;
}

#subheader_text a:hover {
    color: #2d70bd;
    text-decoration: underline;
}

#main {
    float: right;
    width: 520px;
    /* top | right | bottom | left */
    margin: 0px 30px 0px 20px;
    line-height: 26px;
}

#main h2 {
    font-weight: normal;
    text-transform: uppercase;
}

.job-title {
    font-size: 18px;
    color: #b36760;
}

#sidebar {
    float: left;
    width: 235px;
    /* top | right | bottom | left */
    margin: 0px 0px 0px 30px;
    line-height: 26px;
}

#sidebar img {
    margin-top: 30px;
    max-width: 90%;
    border-radius: 15px;
}

#sidebar h2 {
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
}

#sidebar a {
    color: #666;
    text-decoration: none;
}

#sidebar a:hover {
    color: #2d70bd;
    text-decoration: underline;
}

#cleared {
    clear: both;
}
